lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.DS_Store

# Some libraries and files we don't want to track
site/bootstrap
site/css/lib
site/img
site/js/lib
