extends layout

block content
  h3 About CloudCubbie
  p Founded in 2013, CloudCubbie seeks to bring the best facility management services
    | to its customers. Currently, CloudCubbie provides services for locker management.
