extends layout

block content
  - if (typeof user !== 'undefined' && user.client)
    h3 Welcome to your CloudCubbie account for #{ user.client }!
  - else
    h3 Welcome to CloudCubbie!

block footer