<html>
<body>

    <div id='container'>
        <div id='sidebar'>
            <ul>
                <li><a href="/locker">Locker</a></li>
                <li><a href="/user">User</a></li>
                <li><a href="/site">Site</a></li>
            </ul>
        </div>

    </div>  <!-- container -->

    <script src="js/lib/jquery.min.js"></script>

    
</body>
</html>