!!!
html
  head
    script(src="js/lib/jquery.min.js")
    script(src="js/lib/underscore.js")
    script(src="js/lib/backbone.js")
    script(src="js/lib/jquery-ui-1.10.3.custom.js")

    link(rel="stylesheet",type="text/css",href="/css/locker.css")
    link(rel="stylesheet",type="text/css",href="/css/lib/jquery-ui-1.10.3.custom.css")

  body
    #container
      #banner
        a(href="/",class='no-shadow')
          img(src="/img/cloudcubbie_logo.png",class='logo',alt='CloudCubbie')
        .control
          a(href="/about") About
          a(href="/logout") Logout #{user.username}

      #sidebar
        ul
          - if (typeof user.isSatff !== 'undefined' && isStaff) {
            li
              a(href="/client") Site
          - } else {
            li
              a(href="/site") Site
          - }
          li
            a(href="/locker") Locker
          

      #content
        block content
        block footer