!!!
html
  head
    script(src="js/lib/jquery.min.js")
    script(src="js/lib/underscore.js")
    script(src="js/lib/backbone.js")
    script(src="js/lib/jquery-ui-1.10.2.custom.js")

    link(rel="stylesheet",type="text/css",href="/css/locker.css")
    link(rel="stylesheet",type="text/css",href="/css/lib/jquery-ui-1.10.2.custom.css")

  body
    #container
      #banner
        h1 
          a(href="/") CloudCubbie
        .control
          a(href="/logout") Logout
      #sidebar
        ul
          - if (typeof isStaff !== 'undefined' && isStaff) {
            li
              a(href="/client") Staff
          - }
          li
            a(href="/site") Site  
          li
            a(href="/locker") Locker

      #content
        block content
        block footer