extends layout

block content
  h3 Locker Management
  div#locker-app
    
    select#site-picker
      option Choose a site
      - if ('undefined' !== typeof(sites))
      - sites.forEach(function(site) {
        option(name='site',id=site.id) #{site.name}
      - })

    select#location-picker
      option Then a location

    form(id='layout-form')
      input(type='radio',name='layout',value='grid') Grid
      input(type='radio',name='layout',value='row') Row
    div#locker-view
      div#lockers
    
  script(type='text/template',id='location-template')
    <option id=<%= id %> ><%= name %></option>

  script(type='text/template',id='locker-addition-template').
    <form id='locker-addition-form' onsubmit='return false;'>
      <input type='text' name='numLockers' placeholder='How many?'></input>
      <button onclick='addLockersPressed()'>Add Lockers</button>
    </form>

  script(type='text/template', id='locker-edit-view-template').
    <div class='locker-edit'>
      <div class='edit-locker-form'>
        <input type='text' name='name' value='<%= name %>' />
        <select name='combos'>
          
          <% for (var i = 0; i < combos.length; i++) { %>
            <option rank='<%= i %>' value='<%= combos[i] %>'><%= combos[i] %></option>
          <% } %>
          <option>New combo</option

        </select>
        <input <% if (combos.length) { %> hidden <% } %> type='text' name='newCombo' placeholder='01-23-45'/>

        <% if (typeof notes !== 'undefined') { %>
          <input name='notes' value=<%= notes %> />
        <% } %>

        <button class='save'>Save</button>
        <button class='cancel'>Cancel</button>
        <button class='destroy'>Delete</button>
      </div>

      

      <div class='rental-form'>
        <% if (available) { %><%= "available" %><%  } else { %><%= "unavailable" %><% } %>
      </div>

    </div>

  script(type='text/template', id='locker-view-template').
    
      <div class='locker-display'>
        <% if (name) { %><%= name %><% } else { %> [no name] <% } %>
        <button class='edit'>Edit</button>
        <button class='rent'>Rent</button>
      </div>

    </div>

  script(type='text/template', id='locker-list-view-setup-template').
    <button class="show-add-lockers">Add Lockers</button>
    <div class="add-lockers-form">
      <input type="number" placeholder="10" class="add-lockers-input" value="1"/>
      <button class="add-lockers-button">Add</button><button class="add-lockers-cancel-button">Cancel</button>
    </div>
    <div id="lockers"></div>

  script(type='text/javascript',src='/js/pages/locker-backbone.js')