<html>
<body>

    <div id='container'>
        <div id='sidebar'>
            <div id='sidebar'>
                <ul>
                    <li><a href="/locker">Locker</a></li>
                    <li><a href="/user">User</a></li>
                    <li><a href="/site">Site</a></li>
                </ul>
            </div>
        </div>

        <div id='lockerAppContainer'>  <!-- Action for picking -->
            <div>
                <!-- Enumerate all the sites -->
                <select id='site-picker'>
                    <option>Choose a site</option>
                    <% for(var i=0; i<sites.length; i++) {%>
                        <option name='site' id='<%= sites[i].id %>'><%= sites[i].name %></option>
                    <% } %>
                </select>
                
                <select id='location-picker'>
                    <option>Then a location</option>
                </select>

            </div>

        </div>  
    </div> <!-- container -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

</body>
</html>