extends layout

block content
  div#ajax-dialog(hidden).
    Syncing with the server
  div#error-dialog(hidden).
    Error
  div#message-dialog(hidden)
  div#rental-dialog(hidden)
    form
      label(name="firstName")
      label(name="lastName")
      label(name="id")
      label(name="email")
      label(name="startDate")
      label(name="endDate")

      input(name="firstName",placeholder="First name")
      input(name="lastName",placeholder="Last name")
      input(name="id",placeholder="ID")
      input(name="email",placeholder="Email")
      input(name="startDate",placeholder="Start date")
      input(name="endDate",placeholder="End date")
      br
      button(class='submit-button') Submit
      button(class='edit-button') Edit
      button(class='cancel-button') Cancel
      button(class='remove-button') Remove

  h3 Locker Management
  div#locker-app

    select#site-picker
      option Choose a site
      - if ('undefined' !== typeof(sites))
      - sites.forEach(function(site) {
        option(name='site',id=site.id) #{site.name}
      - })

    select#location-picker
      option Then a location

    div#locker-view
      div#lockers
    
  script(type='text/template',id='location-template')
    <option id=<%= id %> ><%= name %></option>

  script(type='text/template',id='locker-addition-template').
    <form id='locker-addition-form' onsubmit='return false;'>
      <input type='text' name='numLockers' placeholder='How many?'></input>
      <button onclick='addLockersPressed()'>Add Lockers</button>
    </form>

  script(type='text/template', id='locker-edit-view-template').
    <div class='locker-edit'>
      <div class='edit-locker-form'>
        <table>
          <tr>
            <td>
            <label>Name:</label>
            </td><td>
            <input type='text' name='name' value='<%= name %>' size="10" />
            </td>
          </tr>
          <tr>
            <td>
            <label>Combo:</label>
            </td>
            <td>
            <select name='combos'>
              <% for (var i = 0; i < combos.length; i++) { %>
                <option rank='<%= i %>' value='<%= combos[i] %>'><%= combos[i] %></option>
              <% } %>
              <option>New combo</option
            </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
            <input size="15" <% if (combos.length) { %> hidden <% } %> type='text' name='newCombo' placeholder='01-23-45'/>
            </td>
          </tr>
          <tr>
            <td>
            <label>Notes:</label>
            </td><td>
              <textarea cols='45' name='notes'><% if (typeof notes !== 'undefined') { %><%= notes %><% } %></textarea>
            </td>
          </tr>
          <tr>
            <td>
            </td><td>
            <button class='save'>Save</button>
            <button class='cancel'>Cancel</button>
            <button class='destroy'>Delete</button>
            </td>
          </tr>
        </table>
      </div>

    </div>

  script(type='text/template', id='locker-view-template').
    <div class='locker-display'>
      <% if (name) { %><%= name %><% } else { %> [no name] <% } %>
      <button class='edit'>More</button>
      <button class='rent'><% if (available) { %><%= "Rent" %><%  } else { %><%= "<del>Rent</del>" %><% } %></button>
    </div>

  script(type='text/template', id='locker-list-view-setup-template').
    <span id='layout-form' hidden>
      <input type='radio' name='layout' value='grid' checked />
      <input type='radio' name='layout' value='row'/>
    </span>
    <button class="show-add-lockers">Add more lockers</button>
    <span class="add-lockers-form">
      <input type="number" placeholder="10" class="add-lockers-input" value="1"/>
      <button class="add-lockers-button">Add</button><button class="add-lockers-cancel-button">Cancel</button>
    </span>
    <div id="lockers"></div>

  script(type='text/javascript',src='/js/pages/locker-backbone.js')




