extends layout

block content
  div#ajax-dialog(hidden).
    Syncing with the server
  div#error-dialog(hidden).
    Error
  div#message-dialog(hidden)

  h3 Locker Management
  div#locker-app

    select#site-picker
      option Choose a site
      - if ('undefined' !== typeof(sites))
      - sites.forEach(function(site) {
        option(name='site',id=site.id) #{site.name}
      - })

    select#location-picker
      option Then a location

    div#locker-view
      div#lockers
    
  script(type='text/template',id='location-template')
    <option id=<%= id %> ><%= name %></option>

  script(type='text/template',id='locker-addition-template').
    <form id='locker-addition-form' onsubmit='return false;'>
      <input type='text' name='numLockers' placeholder='How many?'></input>
      <button onclick='addLockersPressed()'>Add Lockers</button>
    </form>

  script(type='text/template', id='locker-view-template').
    <div class='locker-display'>
      <% if (name) { %><%= name %><% } else { %> [no name] <% } %>

      <button class='edit'>Info</button>
      <button class='rent'><% if (available) { %><%= "Rent" %><%  } else { %><%= "<del>Rent</del>" %><% } %></button>
    </div>
    
    <div hidden class='callout-arrow'></div>
    <form hidden class='rent-form'>

      <label class="rental-label" name="firstName" ><%= firstName %></label>
      <label class="rental-label" name="lastName" ><%= lastName %></label>
      <label class="rental-label" name="memberID" ><%= memberID %></label>
      <label class="rental-label" name="email" ><%= email %></label>
      <label class="rental-label" name="startDate" ><%= startDate %></label>
      <label class="rental-label" name="endDate" ><%= endDate %></label>
      <label class="rental-label" name="rentalNotes" placeholder="notes"><%= rentalNotes %></label>

      <input class="rental-input" name="firstName" placeholder="First name" value="<%= firstName %>" />
      <input class="rental-input" name="lastName" placeholder="Last name" value="<%= lastName %>" />
      <input class="rental-input" name="memberID" placeholder="ID" value="<%= memberID %>" />
      <input class="rental-input" name="email" placeholder="Email" value="<%= email %>" />
      <input class="rental-input" name="startDate" placeholder="Start date" value="<%= startDate %>" />
      <input class="rental-input" name="endDate" placeholder="End date" value="<%= endDate %>" />
      <textarea class="rental-input" name="notes" placeholder="notes" value="<%= rentalNotes %>" />

      <br />
      <button class='edit-button rental-label'>Edit</button>
      <button class='remove-rental-button rental-label'>Delete</button>
      <button class='submit-button rental-input'>Submit</button>
      <button class='cancel-button'>Cancel</button>
    </form>

  script(type='text/template', id='locker-edit-view-template').
    <div class='locker-edit'>
      <div class='edit-locker-form'>
        <table>
          <tr>
            <td>
            <label>Name:</label>
            </td><td>
            <input type='text' name='name' value='<%= name %>' size="10" />
            </td>
          </tr>
          <tr>
            <td>
            <label>Combo:</label>
            </td>
            <td>
            <select name='combos'>
              <% for (var i = 0; i < combos.length; i++) { %>
                <option rank='<%= i %>' value='<%= combos[i] %>'><%= combos[i] %></option>
              <% } %>
              <option>New combo</option
            </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
            <input size="15" <% if (combos.length) { %> hidden <% } %> type='text' name='newCombo' placeholder='01-23-45'/>
            </td>
          </tr>
          <tr>
            <td>
            <label>Notes:</label>
            </td><td>
              <textarea cols='45' name='notes'><% if (typeof notes !== 'undefined') { %><%= notes %><% } %></textarea>
            </td>
          </tr>
          <tr>
            <td>
            </td><td>
            <button class='save'>Save</button>
            <button class='cancel'>Cancel</button>
            <button class='destroy'>Delete</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

  script(type='text/template', id='locker-list-view-setup-template').
    <span id='layout-form' hidden>
      <input type='radio' name='layout' value='grid' checked />
      <input type='radio' name='layout' value='row'/>
    </span>
    <button class="show-add-lockers">Add more lockers</button>
    <span class="add-lockers-form">
      <input type="number" placeholder="10" class="add-lockers-input" value="1"/>
      <button class="add-lockers-button">Add</button><button class="add-lockers-cancel-button">Cancel</button>
    </span>
    <div id="lockers"></div>

  script(type='text/javascript',src='/js/pages/locker-backbone.js')




