!!!
html
  head
    script(src="js/lib/jquery.min.js")

    link(rel="stylesheet",type="text/css",href="/css/splash.css")

  body
    #container
      #banner
        a(href="/").no-shadow
          img(src="/img/cloudcubbie_logo.png",class='logo',alt='CloudCubbie')
        span.beta beta
        .control
          a(href='#',class='toggle-login-button') Login
          a(href='#',class='toggle-pricing') Pricing
          
      div(class='login',hidden)
        form(method='post',action="/",id='login-form')
          table
            tr
              td
                label Username
              td
                input(type='text',name='username',class='user-input')
            tr
              td
                label Password
              td
                input(type='password',name='password',class='user-input')
            tr
              td
                button.submit-button Login
                button.toggle-login-button Cancel
      

      h1 Put your facility management in the cloud.
      div(hidden).pricing-info
        h3.no-shadow We are currently in closed beta. 
        p Pricing is customized for all of our beta customers.
        
    script(type='text/javascript').
      

      $(function() {

        // Show login
        $('.toggle-pricing').click(function() {
          $('.pricing-info').toggle({duration:300});
          return false;
        });

        $('.toggle-login-button').click(function() {
          $('.login').toggle({duration:500});
          return false;
        });

        // Enable/disable form
        $('#login-form .submit-button').attr('disabled', 'disabled');

        $('#login-form .user-input').keyup(function(){
          var isEntered = true;
          $('#login-form input[name]').each(function() {

            var inputVal = $(this).val();
              if (typeof inputVal === 'undefined' || inputVal.length == 0) {
                isEntered = false;
              }

          });
          if (isEntered) {
            $('#login-form .submit-button').removeAttr('disabled');
          }
          else {
            $('#login-form .submit-button').attr('disabled', 'disabled');
          }
        })  

      });